LLM_API_KEY=你的apikey
LLM_BASE_URL=你的模型url
LLM_MODEL=你的模型

MYSQL_HOST=127.0.0.1
MYSQL_PORT=3307
MYSQL_USER=数据库用户
MYSQL_PASSWORD=数据库密码
MYSQL_DATABASE=数据库名

CROSSREF_MAILTO=你的邮箱（用于论文检测后结果回调）
REVIEW_YEAR=2026